* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background: linear-gradient(black, #1b51a7); 
}
#main-content #firstpic,
#main-content #secondpic,
#main-content #thirdpic {
    width: 100%;
}
#grid-layout {
    display: grid;
    grid-template-columns: 1fr 600px 275px 1fr;
    grid-template-areas: ". content sidebar .";
    margin: 50px 70px;
}
#main-content {
    background-color: #05265c;
    grid-area: content;
    margin: 0px 26px;
    border: 2px solid white;
    padding: 26px 30px;
    color: white;
}
#main-content h4 {
    margin: 0px;
}
#main-content h1 {
    margin: 0px 0px 5px;
    font-size: 35px;
}
#sidebar-content {
    /* background-color: aqua; */
    grid-area: sidebar;
    padding: 0px;
}
#sidebar-content h2 {
    background-color: #05265c;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 18px;
    border: 2px solid white;
    border-bottom: none;
}
#sidebar-content ul {
    background-color: black;
    border: 2px solid white;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px;
}
#sidebar-content a {
    text-decoration: none;
    color: white;
}
#sidebar-content li {
    border-bottom: 1px solid white;
    padding: 8px 12px;
}
#sidebar-content li:hover {
    background-color: #05265c;
}
#sidebar-content li:last-child {
    border-bottom: 0px;
}