* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background: radial-gradient(
        at top left,
        white,
        #FF9999,
        red
    );
    overflow-x: hidden; 
}
.single-column {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* overflow-x: hidden; */
}
h1 {
    color: #720000;
    font-size: 25px;
}
.main-container {
    padding: 200px 0px;
}
.button-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
}
#yes {
    background-color: #FF9999;
    padding: 24px 48px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    border: 1px solid white;
    transition: 
        padding 0.25s,
        font-size 0.25s;
}
#no {
    background-color: red;
    padding: 24px 48px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}
#no:hover {
    background-color: #a00000;
}
#yes:hover {
    background-color: #fb778d;
}
#gif {
    width: 100%;
}