* {
    box-sizing: border-box;
}
body {
    margin: 0px 100px;
    font-family: sans-serif; 
}
#left img {
    width: 800px;
    border-radius: 20px;
}
#grid-layout {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 
        "header header header"
        "left middle right";
}
#header {
    grid-area: header;
    padding: 15px 0px 25px 0px;
}
#header .test {
    font-size: 15px;
    font-weight: 500;
    color: grey;
}
#header #shopby {
    padding-left: 200px;
    padding-right: 10px;
}
#header #searchfor {
    border: 2px solid black;
    padding: 10px 1000px 10px 10px;
    text-align: left;
}
#header #search {
    border: 1px solid blue;
    padding: 10px 100px;
    color: blue;
}
#header #search:hover {
    background-color: #efefef;
}
#header #advanced {
    font-size: 12px;
    padding-left: 10px;
}
#header #m {
    color: red;
}
#header #e {
    color: orange;
}
#header #b {
    color: green;
}
#header #a {
    color: blue;
}
#header #y {
    color: indigo;
}
#left {
    /* background-color: blueviolet; */
    grid-area: left;
    display: flex;
    justify-content: center;
}
#middle {
    /* background-color: #2aa54f; */
    grid-area: middle;
    padding-left: 10px;
}
#middle h4 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#middle #watched {
    color: #dc2b2b;
    margin-top: 25px;
}
#middle #price {
    font-weight: bold;
    font-size: 30px;
}
#middle  #used {
    font-weight: bold;
}
#middle #quanitity {
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 10px;
}
#middle #buy,
#middle #cart,
#middle #watchlist {
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 20px;
}
#middle #buy {
    background-color: #2323c2;
}
#middle #buy:hover {
    background-color: #0000ff;
}
#middle #cart {
    background-color: #87d0e8;
}
#middle #cart:hover {
    background-color: #0000ff;
}
#middle #watchlist {
    border: 1px solid blue;
    color: blue;
}
#middle #watchlist:hover {
    background-color: #efefef;
}
#middle #amount {
    border: 1px solid black;
    border-radius: 2px;
    padding: 3px 7px;
    margin: 0px 5px;
}
#middle #lastone {
    color: #dc2b2b;
    font-weight: bold;
}
#right {
    /* background-color: goldenrod; */
    grid-area: right;
}
#right #sellerinfo {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px 13px;
    margin: 12px
}
#right div {
    padding-bottom: 12px;
}
#right img {
    width: 50px;
    border-radius: 50%;
}
#right #profile {
    display: flex;
    align-items: center;
}
#right #profile a {
    padding-left: 5px;
    color: black;
}
#right a {
    color: black;
}
#right #two {
    color: grey;
    padding-left: 5px;
}
#right #secondline {
    font-size: 15px;
    padding-bottom: 20px;
}
