@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=GFS+Didot&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Abril Fatface", serif;
    background-color: #722f37; 
}
.navbar {
    display: flex;
    background-color: white;
    /* border-bottom: 2px solid grey; */
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}
.navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
    border-bottom: 5px solid white;
    transition: 
        border .25s;
    ;
}
.navbar .padding {
    padding: 49.2px 24px;
}
.navbar .paddingtwo {
    padding: 44.9px 24px;
}
.navbar a:hover {
    border-bottom: 5px solid #FCBE3F;
}
.navbar a:first-child:hover {
    border-bottom: 5px solid white;
}
.navbar a:last-child:hover {
    border-bottom: 5px solid white;
}
.navbar .seperator {
    margin-right: auto;
}
.navbar img {
    width: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar .icons {
    width: 25px;
    margin-right: 10px
}
.navbar .cta {
    background-color: #722f37;
    color: white;
    border-radius: 50px;
    text-align: center;
    margin-right: 24px;
    padding: 16px 24px;
    min-width: 150px;
    text-decoration: none;
    transition: 
        background-color .25s
    ;
}
.try {
    display: flex;
    align-items: center;
}
#hero {
    background-image: url("../images/food1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero #overlay {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
}
#hero #hero-content {
    text-align: center;
    margin-top: 300px;
}
#hero img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#hero-content p {
    color: white;
    font-size: 24px;
}
#hero .cta {
    text-decoration: none;
    color: white;
    background-color: #722f37;
    padding: 16px 24px;
    border-radius: 50px;
    min-width: 150px;
    transition: 
        background-color .25s;
}
#hero .cta:hover,
.navbar .cta:hover {
    background-color: #331519;
}
.single-column {
    max-width: 1000px;
    margin: 48px auto;
    text-align: center;
}
#info {
    color: white;
}
#salmon img {
    width: 100%;
    display: block;
}
#salmon {
    margin-left: 50px;
}
#lightback {
    background-color: #808285;
    /* border-bottom: 1px solid #FCBE3F; */
}
.single-column#featured {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}
#main-dish h3 {
    color: #FCBE3F;
    margin-bottom: 18px;
}
#main-dish h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 18px;
    color: white;
}
#main-dish p {
    color: white;
}
#main-dish p:last-child {
    color: #FCBE3F;
    font-family: "Abril Fatface", serif;
}
#main-dish {
    margin-right: 50px;
}
#menu-layout {
    display: flex;
    justify-content: center;
}
#menu-layout h5 {
    color: #FCBE3F;
    font-size: 18px;
    margin-bottom: 60px;
    margin-top: 0px;
}
#left {
    margin-right: 50px;
    flex: 1;
}
p {
    font-family: "Bodoni Moda", serif;
}
#right {
    margin-left: 50px;
    flex: 1;
}
.single-column#food {
    color: white;
}
#food h2 {
    border-bottom: 1px solid #FCBE3F;
    padding-bottom: 24px;
    font-size: 30px;
}
.footer {
    background-color: #231f20;
    padding: 50px;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer p {
    color: white;
}
.top {
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.top a {
    padding: 0px 12px;
    border-bottom: 5px solid #231f20;
    padding-bottom: 12px;
    transition: 
        border-bottom .25s;
}
.top a:hover {
    border-bottom: 5px solid #FCBE3F;
}
.top a:last-child {
    padding-right: 0px;
}
.top img {
    width: 200px;
    margin-right: auto;
}
.columns {
    width: 1500px;
    padding-bottom: 48px;
    padding-top: 24px;
    display: flex;
    justify-content: flex-end;
    /* background-color: rgb(63, 90, 51); */
}
.columns a {
    display: block;
    padding: 8px 0px;
    color: white;
    margin-left: 50px;
    font-family: "Bodoni Moda", serif;
}
.mission {
    padding: 24px 0px;
    /* background-color: #722f37; */
    margin-right: 500px;
}
.side-by-side {
    display: flex;
}
.copyright {
    background-color: #808285;
    text-align: center;
    color: white;
    font-family: "Bodoni Moda", serif;
    padding: 12px 0px;
}
.footer .icons {
    width: 25px;
    margin-right: 10px
}
.footer .clock {
    width: 20px;
}
.footer .phone {
    width: 15px;
}