@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: "Overpass", sans-serif;
    font-weight: 100;
    background: radial-gradient(
        at 50% 10%,
        #ff90a1,
        #dd5c71,
        #5c0a5c
    );
}
a {
    letter-spacing: 3px;
}
#hero {
    background-image: url(../images/pinklighting.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-attachment: fixed;
    border-bottom: 1px solid white;
}
#hero h1 {
    color: white;
    margin-left: 11.75vw;
    font-size: 4vw;
    margin-bottom: 0px;
    letter-spacing: 18px;
    font-family: "Italiana", sans-serif;
}
#hero h3 {
    color: white;
    margin-left: 11.75vw;
    font-size: 1.5vw;
    padding-bottom: 12px;
    font-weight: 100;
}
#hero a {
    display: inline-block;
    text-decoration: none;
    color: #5c0a5c;
    background-color: white;
    border: 1px solid white;
    padding: 12px;
    margin-left: 11.75vw;
    font-size: 1vw;
    font-weight: 300;
    padding-top: 15px;
    transition:
        background-color .5s,
        color .5s,
        border .5s;
}
#hero a:hover {
    border: 1px solid #5c0a5c;
    background-color: transparent;
    color: white;
}
#centered-column {
    width: 50%;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.card {
    width: 500px;
    border: 1px solid white;
    padding-top: 10px;
    padding-bottom: 45px;
    padding-left: 40px;
    padding-right: 40px;
}
.card h2 {
    color: white;
    font-size: 2vw;
    font-family: "Italiana", sans-serif;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    padding-bottom: 25px;
}
.card p {
    font-size: 1vw;
    color: #5c0a5c;
}
.card a {
    display: inline-block;
    background-color: white;
    border: 1px solid white;
    font-size: .75vw;
    padding: 12px;
    color: #5c0a5c;
    text-decoration: none;
    font-weight: 300;
    padding-top: 15px;
    transition:
        background-color .5s,
        border .5s,
        color .5s;
}
.card a:hover {
    border: 1px solid #5c0a5c;
    background-color: transparent;
    color: white;
}
#back {
    margin-top: 0px;
    padding: 100px;
    margin-bottom: 0px;
    padding-top: 150px;
}
#layout {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
#gallery img {
    height: 655px;
    flex: 1;
    object-fit: cover;
}
#back2 {
    margin-top: 0px;
    padding: 50px;
}